

.question{
    border:1px solid red;
}
.que_no{ 
  
   display: flex;
   margin-left: 10px;
   font-size: 20px;
   font-weight: bold;
   margin-top: 20px;
   color:white;
}

.que_txt{
    margin-left: 0px;
    margin-bottom: 15px;
   flex-direction: column;
   align-items: center;
   font-size: 30px;
   font-weight: bold;
   color:white;
    color: black;
   padding: 10px;
}
/* .que_txt:hover{
    font-size: 31px;
    transition: 0.2s;
} */
/* .que_txt:hover{
    font-weight: bold;
} */
.options{
  display: flex;
  flex-direction: column;
}

.container{
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:auto;
    
}
.child{
    width:44%;
    height:60%;
    border:1px solid green;
    padding :20px;
    background-color: grey;
    border-radius: 20px;
    padding:20px;
    
}
.btn{
    margin-top: 20px;
    padding:5px;
    margin-right: 20px;
    width:100px;
    font-size:17px ;
    
}
.btn:hover{
   padding:7px;
   font-weight: bold; 
   font-size: 13px;
   cursor: pointer;
   background-color: green;
}


.que_timer{
    display: flex;   
    align-items: center;
}

.result{
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid red;
    border-radius: 10px; 
    width:40%;
    font-size: 30px;
    margin-top:100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
}

.output{
    box-shadow:none ;
}



